// settings
@import "./reset-css";
@import "./adaptive-font";
// layout vars
@import "./layout-vars/colors";
@import "./layout-vars/fonts";
// blocks
@import "./blocks/header";
@import "./blocks/burger-menu";
@import "./blocks/hero";
@import "./blocks/feature";
@import "./blocks/services";
@import "./blocks/projects";
//elements
@import "./elements/button";
@import "./elements/titleH2";

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1440px;
  margin: 0px auto;
  font-family: "Mulish";
}

.container {
  max-width: 1060px;
  margin: 0px auto;
  padding: 0px 10px;
}
