.feature {
  margin: 160px 0 40px;
  &__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    max-width: 330px;
    padding: 10px;
    max-height: 100%;
    border-radius: 10px;
    transition: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0);
    &:hover {
      .feature__logo,
      .feature__title,
      .feature__subtitle {
        top: 0;
      }
      & {
        border: 1px solid $gray4;
      }
      .feature__arrow {
        opacity: 1;
        svg {
          width: 62px;
          &:hover {
            fill: $accent-bright1;
          }
        }
      }
    }
  }

  &__logo {
    width: 60px;
    height: 60px;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    @include H4;
    margin: 20px 0px 15px 0px;
  }

  &__subtitle {
    @include H5;
    color: $gray4;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  &__logo,
  &__title,
  &__subtitle {
    position: relative;
    top: 65px;
    left: 0;
    transition: 0.2s;
  }

  &__arrow {
    opacity: 0;
    margin: 25px 0;
    display: flex;
    align-items: center;
    width: 62px;
    transition: 0.3s;
    svg {
      width: 0px;
      height: 15px;
      fill: $accent;
      transition: 0.2s;
    }
  }
}
