$primary: #4e4e4e;
$accent: #fdae54;
$gray1: #dbdbdb;
$gray2: #bbbbbb;
$gray3: #9b9b9b;
$gray4: #818181;
$bright: #ffffff;
$accent-bright1: #f27677;
$accent-bright2: #f59494;
$accent-dark1: #ec4041;
$accent-dark2: #ea2729;
$primary-bright1: #5b5b5b;
$primary-bright2: #6a6a6a;
$primary-dark1: #414141;
$primary-dark2: #000000;
