//for work
// @font-face {
//   font-family: "Mulish";
//   src: url("../../fonts/Mulish-VariableFont_wght.eot");
//   src: local("☺"), url("../../fonts/Mulish-VariableFont_wght.woff") format("woff"),
//     url("../../fonts/Mulish-VariableFont_wght.ttf") format("truetype"),
//     url("../../fonts/Mulish-VariableFont_wght.svg") format("svg");
// }
//for GitHub-pages
@font-face {
  font-family: "Mulish";
  src: url("../arkimon/fonts/Mulish-VariableFont_wght.eot");
  src: local("☺"), url("../arkimon/fonts/Mulish-VariableFont_wght.woff") format("woff"),
    url("../arkimon/fonts/Mulish-VariableFont_wght.ttf") format("truetype"),
    url("../arkimon/fonts/Mulish-VariableFont_wght.svg") format("svg");
}

@mixin HA {
  font-family: "Mulish";
  font-weight: 900;
  font-size: 100px;
  color: $primary-dark2;
}

@mixin HB {
  font-family: "Mulish";
  font-weight: 900;
  font-size: 72px;
  color: $primary-dark2;
}

@mixin HC {
  font-family: "Mulish";
  font-weight: 900;
  font-size: 60px;
  color: $primary-dark2;
}

@mixin H1 {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 52px;
  color: $primary-dark2;
}

@mixin H2 {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 40px;
  color: $primary-dark2;
}

@mixin H3 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 28px;
  color: $primary-dark2;
}

@mixin H4 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 24px;
  color: $primary-dark2;
}

@mixin H5 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 18px;
  color: $primary-dark2;
}

@mixin P15 {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 15px;
  color: $primary-dark2;
}

@mixin P13 {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 13px;
  color: $primary-dark2;
}
